@use 'src/styles/colors';

.FormField {
  width: 100%;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 24px;
  }

  &__label {
    width: 100%;
  }

  &__label-text {
    margin-top: 0;
    font-size: 0.75rem;
    margin-bottom: 8px;
    font-weight: bold;
  }

  &__input {
    margin-bottom: 8px;
  }

  &__error {
    margin: 0;
    text-align: right;
    font-size: 0.75rem;
    color: colors.$ns-sienna-red;
  }
}
