.Loader {
  height: 28px;
  display: flex;
  justify-content: center;

  &__spinner {
    height: 0;
    width: 0;
    padding: 10px;
    border: 4px solid #ccc;
    border-right-color: #888;
    border-radius: 14px;
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
