@use 'src/styles/mixins';
@use 'src/styles/colors';
@use 'src/styles/sizes';

.BaseLayout {
  width: 100%;
  min-height: 100%;
  padding: 16px;
  background: colors.$ns-cerulean;
  background: linear-gradient(to right, colors.$ns-cerulean, colors.$ns-deep-cerulean);

  @include mixins.at-least-small() {
    padding: 24px;
  }

  &__content {
    width: 100%;
    max-width: sizes.$max-width;
    margin: 0 auto;
  }
}
