@use 'src/styles/mixins';

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 24px;
  border-radius: 4px;
  background: white;

  @include mixins.at-least-small {
    padding: 32px;
  }
}
