@use 'colors';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  color: colors.$ns-mineshaft-grey;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
