@use 'src/styles/colors';

.FormError {
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 24px;
  color: colors.$ns-sienna-red;
  background: lighten(colors.$ns-sienna-red, 35%);
}
