@use 'src/styles/colors';

.Button {
  background: colors.$ns-deep-cerulean;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 12px 36px;

  &:hover {
    background: darken(colors.$ns-deep-cerulean, 5%);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.3);
  }

  &.full {
    width: 100%;
  }
}
