@use 'src/styles/mixins';
@use 'src/styles/sizes';

.PageHeader {
  height: sizes.$header-height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 0 16px;
  background: white;

  @include mixins.at-least-small() {
    padding: 0 24px;
  }

  &__logout-button {
    background: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    line-height: 28px;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    img {
      width: 28px;
      height: 28px;
      vertical-align: middle;
    }
  }
}
