@use 'src/styles/colors';

.Table {
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;

  &__sort-button {
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    background: transparent;

    > span {
      vertical-align: middle;
    }
  }

  table {
    width: 100%;
    border-spacing: 0;
  }

  th,
  td {
    padding: 12px;
    text-align: right;
  }

  th:first-of-type,
  td:first-of-type {
    text-align: left;
  }

  th {
    background: rgba(0, 0, 0, 0.08);
  }

  td {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
}
